defmodule <%= policy_module %> do
  @moduledoc false

  use Janus.Policy, repo: <%= app %>.Repo

  @impl true
  def build_policy(policy, _actor) do
    # Attach permissions here using the `Janus.Policy` API
    policy
  end
end
